{% extends 'main.html' %}
{% block content %}
    <div class="content-wrapper" style="min-height: 946px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ "Category" }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">{{ "Category" }}</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            {% comment %}
                {% include 'includes/error.html' %}
            {% endcomment %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Create Category</h3>
                        </div>
                        <form method="post" action="{% url 'category_store' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                {% include 'category/form.html' %}
                            </div>
                            <div class="card-footer">
                                <a href=""><button class="btn btn-default" type="button">Back</button></a>
                                <button class="btn btn-secondary float-right" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

